/* Fixes the margin error */
header, main, footer{
  margin: 0;
  padding: 1px;
}

h1{
  font-family: "Times New Roman", Ariel, Sherif;
  font-size: 20px;
}
/* changes the all these texts */
h2,h3,p{
  font-family: "Times New Roman", Ariel, Sherif;
}
  
/* makes all the text move to the center */
.text-center{
  text-align: center;
}

.dark-color{
  background-color: #22333B;
  color: #d2d2d2;
}

.light-color{
  background-color: #a6a09a;
  color: #5e503f;
}
  
/* for the links */

a:link{color: #5abcb9;}
a:vistied{color: #a8dadc;}
a:hover{color: #f96e46;}
a:active{color: #f9c846;}


hr{
  background-color: #22333b;
  height: 10px;
  border: 3px solid #22333b;
  margin-top: 25px;
  margin-bottom: 25px;
}

.wrapper{
  width: 300px;
  margin: auto;
}

img{
  width: 300px;
  length: 300px;
}
/* gets rid of the numbers so it looks neater */
ol{
  list-style-type: none;
}




