.text-center{
  text-align: center;
}

.dark-color{
  background-color: #22333B;
  color: #f2f4f3;
}

.light-color{
  background-color: #a6a09a;
  color: #5e503f;
}
  

a:link{color: #5abcb9;}
a:vistied{color: #a8dadc;}
a:hover{color: #f96e46;}
a:active{color: #f9c846;}



