.text-center{
  text-align: center;
}

main{
  background-color: #d2bba0;
}

header h1{
  font-family: "Times New Roman";
}
  

a:link{color: #5abcb9;}
a:vistied{color: #a8dadc;}
a:hover{color: #f96e46;}
a:active{color: #f9c846;}

footer, header{
  background-color: #15113;
}
 
footer p{
  color: white;
}
